.contactcontainer {
    display: grid;
    grid-gap: 30px;
    margin: 3%;
    width: 90%;
    /*align-items: center;*/
    background-color: #bdb9b99d;
    padding: 50px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "contactimage1 info1"
    "contactimage2 info2"
    "contactimage3 info3"
    "contactimage4 info4"
    "contactimage5 info5"
    "contactimage6 info6";
}

#info1, #info2, #info3, #info4, #info5, #info6 {
    padding-left: 5%;
    padding-top: 5%;
}

div img {
    width: 360px;
    padding-bottom: 3%;
}

p {
    font-weight: bold;
    font-size: 25px;
}

