/* Modified Brady's code - Header and Nav */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main */
main {
    background-color: #bdb9b99d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "Cert" "AAS" "BAS";
    width: 85%;
    margin: 0 auto 0 auto;
    padding: 1rem 0 1rem 0;
}

.programCategory {
    margin: 0 auto 0 auto;
    padding: 1rem;
}

h2 {
    text-align: center;
    margin: 0 0 3rem 0;
}

p {
    text-align: left;
}

.linksToDegrees {
    color: blue;
    margin: 1rem 0 1rem 0;
}

.linksToDegrees:hover {
    color: white;
}