<footer>
    <div class="footer-container p-4 ">
      <div class="row">

        <!-- Quick Links -->
        <div class="col-12 col-md-5">
          <h4>Quick Links</h4>
          <div class="footer-list">
            <ul class="list-unstyled">
              <li><a href="https://www.greenriver.edu/">Green River College</a></li>
              <li><a href="https://catalog.greenriver.edu/index.php">Academic Catalog</a></li>
              <li><a href="https://www.greenriver.edu/students/academics/getting-started/index.html">Admissions</a></li>
              <li><a href="https://www.greenriver.edu/students/academics/degrees-programs/index.html">Degrees and Programs</a></li>
              <li><a href="https://www.greenriver.edu/students/academics/getting-started/tuition-fees/">Tuition and Fees</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <a href="/log-in">
            <img src="\Images\heart.png" style="width: 50px;" alt="Admin log in">
          </a>
        </div>

        <!-- Email -->
        <div class="col-12 col-md-5">
          <h4>Contact</h4>
          <div class="footer-list">
            <ul class="list-unstyled m-0">
              <li><a href="mailto:gcomollo@greenriver.edu">George Comollo</a></li>
              <li><a href="mailto:tahenry@greenriver.edu">Tad Henry</a></li>
              <li><a href="mailto:fcantwell@greenriver.edu">Frank Cantwell</a></li>
              <li><a href="mailto:affiong.eyo@greenriver.edu">Affie Eyo</a></li>
              <li><a href="mailto:carlton.lawson@greenriver.edu">Carlton Lawson</a></li>
              <li><a href="mailto:jamie.ealy@greenriver.edu">Jamie Ealy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>