<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <%- include('./components/head') %>

  <body>
    <!-- Include header/navbar -->
    <%- include('./components/navbar') %>

    <h1 class="text-center m-4">Faculty Contact</h1>

    <div class="container text-center mb-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- George Comollo -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/George-Comollo.jpeg" class="card-img-top staff-img" alt="George Comollo">
            <div class="card-body">
              <h3 class="card-title">George Comollo</h3>
              <p class="card-text">BAS - Aviation Program Director</p>
              <a href="mailto:gcomollo@greenriver.edu" class="card-link">gcomollo@greenriver.edu</a>
            </div>
          </div>
        </div>

        <!-- Affie Eyo -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/Affie-Eyo.jpeg" class="card-img-top staff-img" alt="Affie Eyo">
            <div class="card-body">
              <h3 class="card-title">Affie Eyo</h3>
              <p class="card-text">Aviation Program Manager</p>
              <a href="mailto:affiong.eyo@greenriver.edu" class="card-link">affiong.eyo@greenriver.edu</a>
            </div>
          </div>
        </div>

        <!-- Carlton Lawson -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/Carlton-Lawson.jpeg" class="card-img-top staff-img" alt="Carlton Lawson">
            <div class="card-body">
              <h3 class="card-title">Carlton Lawson</h3>
              <p class="card-text">Aviation Program Coordinator</p>
              <a href="mailto:carlton.lawson@greenriver.edu" class="card-link">carlton.lawson@greenriver.edu</a>
            </div>
          </div>
        </div>

        <!-- Jamie Ealy -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/Jamie-Ealy.jpeg" class="card-img-top staff-img" alt="Jamie Ealy">
            <div class="card-body">
              <h3 class="card-title">Jamie Ealy</h3>
              <p class="card-text">Adjunct Faculty - ATC</p>
              <a href="mailto:jamie.ealy@greenriver.edu" class="card-link">jamie.ealy@greenriver.edu</a>
            </div>
          </div>
        </div>

        <!-- Frank Cantwell -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/Frank-Cantwell.jpeg" class="card-img-top staff-img" alt="Frank Cantwell">
            <div class="card-body">
              <h3 class="card-title">Frank Cantwell</h3>
              <p class="card-text">Aviation Instructor</p>
              <a href="mailto:fcantwell@greenriver.edu" class="card-link">fcantwell@greenriver.edu</a>
            </div>
          </div>
        </div>

        <!-- Tad Henry -->
        <div class="col">
          <div class="card h-100">
            <img src="./Images/Staff/Tad-Henry.jpeg" class="card-img-top staff-img" alt="Tad Henry">
            <div class="card-body">
              <h3 class="card-title">Tad Henry</h3>
              <p class="card-text">Aviation Instructor</p>
              <a href="mailto:tahenry@greenriver.edu" class="card-link">tahenry@greenriver.edu</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <!-- Footer -->
    <%- include('./components/footer') %>
  </body>
</html>