<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>GRC Aviation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./../CSS/styles.css">
  <link rel="stylesheet" href="./../CSS/contactStyles.css">
  <link rel="stylesheet" href="./../CSS/navStyles.css">
</head>
<body>

  <header>
    <img src="./../Images/GRC-Aviation-Logo.jfif" alt="Website Logo">
    <div> 
      <h2>Aviation Technology</h2>
    </div>
  </header>
  
  <section>
    <!-- Nav Bar -->
    <nav>
      <ul id="nav-list">
        <li class="nav-list-item"><a href="index.html">Home</a></li>
        <li class="nav-list-item"><a href="general.html">About</a></li>
        <li class="nav-list-item"><a href="programs.html">Programs</a></li>
        <li class="nav-list-item"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </section>

<main>
  <section>
<!--Named grid for Aviation contacts-->
    <div class="contactcontainer">
      <div id="contactimage1">
        <img src="./../Images/Staff/George-Comollo.jpeg" alt="Place holder image">
        <p>George Comollo</p>
      </div>

      <div id="info1">
        <p>BAS - Aviation Program Director</p>
        <br>
        <a href="mailto:gcomollo@greenriver.edu">gcomollo@greenriver.edu</a>
      </div>

      <div id="contactimage2">
        <img src="./../Images/Staff/Tad-Henry.jpeg" alt="Place holder image">
        <p>Tad Henry</p>
      </div>

      <div id="info2">
        <p>Aviation Instructor</p>
        <br>
        <a href="mailto:tahenry@greenriver.edu">tahenry@greenriver.edu</a>
      </div>

      <div id="contactimage3">
        <img src="./../Images/Staff/Frank-Cantwell.jpeg" alt="Image of Frank Cantwell">
        <p>Frank Cantwell</p>
      </div>

      <div id="info3">
        <p>Aviation Instructor</p>
        <br>
        <a href="mailto:fcantwell@greenriver.edu">fcantwell@greenriver.edu</a>
      </div>

      <div id="contactimage4">
        <img src="./../Images/Staff/Affie-Eyo.jpeg" alt="Image of Affie Eyo">
        <p>Affie Eyo</p>
      </div>

      <div id="info4">
        <p>Aviation Program Manager</p>
        <br>
        <a href="mailto:affiong.eyo@greenriver.edu">affiong.eyo@greenriver.edu</a>
      </div>

      <div id="contactimage5">
        <img src="./../Images/Staff/Carlton-Lawson.jpeg" alt="Image of Carlton Lawson">
        <p>Carlton Lawson</p>
      </div>

      <div id="info5">
        <p>Aviation Program Coordinator</p>
        <br>
        <a href="mailto:carlton.lawson@greenriver.edu">carlton.lawson@greenriver.edu</a>
      </div>

      <div id="contactimage6">
        <img src="./../Images/Staff/Jamie-Ealy.jpeg" alt="Image of Jamie Ealy">
        <p>Jamie Ealy</p>
      </div>

      <div id="info6">
        <p>Adjunct Faculty - ATC</p>
        <br>
        <a href="mailto:jamie.ealy@greenriver.edu">jamie.ealy@greenriver.edu</a>
      </div>

    </div>
  </section>
</main>
</body>
</html>

