<!DOCTYPE html>
  <html lang="en">
  <%- include('./components/head') %>

  <body>
    <!-- Include header/navbar -->
    <%- include('./components/navbar') %>

    <h1 class="text-center m-4">Welcome To Aviation Technology</h1>

    <div class="container">
      <!-- Aviation Technology Video -->
      <div class="video-container justify-content-center">
        <iframe
          src="https://www.youtube.com/embed/NT5NoruIx5U"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
          allowfullscreen>
        </iframe>
      </div>
    
      <div class="m-4">
        <h2 class="text-center">About Our Program</h2>
        <p>Green River College designed its Aviation Technology program to provide students with a real-world education and competitive advantages in the job market. </p>
        <p>Advanced technology, exceptional instructors, and specialized Federal Aviation Administration-approved programs prepare students of every experience level with a foundation in aviation weather, air transportation, and air traffic control. </p>

        <h2 class="text-center">Equipment</h2>
        <h4>Redbird Motion Simulator</h4>
        <p> Five wraparound screens combine with an electric motion platform and a customizable instrument deck for realistic training in this full-motion flight simulator. </p>

        <h4>Air Traffic Control Lab</h4>
        <p>Green River Aviation houses the only air traffic control lab in the Pacific Northwest. Advanced computer software simulates real-life air traffic so students gain exposure to the air traffic environment in the classroom.</p>

        <h4>Wind Tunnel</h4>
        <p>Learn the aerodynamics of aircrafting right on campus with a wind tunnel that simulates the movement of air around an aircraft in flight.</p>
      </div>

     <!-- Flying Gator Newsletter -->
      <!-- TODO: Update to latest newsletter --> <!-- Done!! Create path to latest newletter and updated the photo to reflect that as well-->
      <h2 class="text-center">Flying Gator Newsletter</h2>
      <div class="p-4 justify-content-center d-flex">
        <a href="https://online.fliphtml5.com/vrzcu/jpdy/#p=1" target="_blank" class="flying-gator">
          <img src="./Images/WinterNewsletter.png" alt="Flying Gator Newsletter">
        </a>
      </div>
    </div>

    <!-- Footer -->
    <%- include('./components/footer') %>
  </body>
</html>