<header>
    <img src="./Images/GRC-Aviation-Logo.jfif" alt="Website Logo">
    <h2>Aviation Technology</h2>
  </header>

  <!-- Nav Bar -->
  <nav>
    <ul id="nav-list" class="mb-0">
      <li class="nav-list-item"><a href="/">Home</a></li>
      <li class="nav-list-item"><a href="/resources">GRC Links</a></li>
      <li class="nav-list-item"><a href="/programs">Programs</a></li>
      <li class="nav-list-item"><a href="/program-outline">Program Outline</a></li>
      <li class="nav-list-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>