<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <!-- Include header/navbar -->
    <%- include('./components/navbar') %>

    <h1 class="text-center m-4">Aviation Certificates and Programs</h1>

    <main class="container">
      <div class="row">
        <!-- Certificates -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title mb-3 text-center">Certificates</h2>
              <h5 class="text-center">Aviation Technology</h5>
              <ul class="list-unstyled">
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2084" target="_blank">Airline Dispatcher Completion Certificate</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2303" target="_blank">Air Traffic Controller Certificate</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2086" target="_blank">Aviation Operations Management Certificate</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2119" target="_blank">Basic Aviation Knowledge Certificate</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2213" target="_blank">Unmanned Aerial Vehicles Cyber Security Certificate</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2214" target="_blank">Unmanned Aerial Vehicles Digital Photography Certificate</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <!-- Associates -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title mb-3 text-center">Associates</h2>
              <ul class="list-unstyled">
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2209" target="_blank">Aviation Technology AAS</a></li>
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2175" target="_blank">Aviation Technology: Unmanned Aerial Systems AAS</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <!-- Bachelors -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title mb-3 text-center">Bachelors</h2>
              <ul class="list-unstyled">
                <li><a class="linksToDegrees d-block mb-2" href="https://catalog.greenriver.edu/preview_program.php?catoid=8&poid=2046" target="_blank">Aeronautical Science BAS</a></li>
                <li>
                  <a class="linksToDegrees" href="https://www.greenriver.edu/students/academics/degrees-programs/bachelor-of-applied-science/bachelors-in-aeronautical-science/index.html" target="_blank">Additional Aeronautical Science BAS information</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./components/footer') %>
  </body>
</html>