<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
<body>
    <!-- Include header/navbar -->
    <%- include('navbar') %>

  <h1 class="text-center m-4">GRC Links</h1>
    <div>
      <ul id="info-list" class="mt-0">
        <li>
          <a href="https://www.greenriver.edu/" target="_blank">Apply to Green River College</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/upload/" target="_blank">To use a high school transcript for placement, upload here</a>
        </li>
        <li>
          <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=PmZA-ieXeEmbznds-CS8pevhy7jLH79OhM69aKKILnhURTZDOUNESEhDRzQwNjMyUlRDRFVaR1NNTiQlQCN0PWcu" target="_blank">Send in your official transcripts to the registrar’s office including this form</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/campus/campus-resources/ctclink/students/tutorials.html" target="_blank">Tutorials for ctcLink</a>
        </li>
        <li>
          <a href="https://csprd.ctclink.us/psp/csprd/EMPLOYEE/SA/s/WEBLIB_HCX_CM.H_CLASS_SEARCH.FieldFormula.IScript_Main?institution=WA100" target="_blank">Find item numbers for classes here</a>
        </li>
        <li>
          <a href="https://papertree.greenriver.edu/home" target="_blank">Find textbooks here</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/academics/getting-started/tuition-fees/" target="_blank">Tuition Chart</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/pay-for-college/financial-aid/applying-for-aid/" target="_blank">Financial Aid Application</a>
        </li>
        <li>
          <a href="mailto:oshostak@greenriver.edu" target="_blank">Email for loan information: Olga Shostak</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/academics/degrees-programs/aviation-technology/" target="_blank">Program class names and information</a>
        </li>
        <li>
          <a href="https://grcc.greenriver.edu/canvaslogin.aspx" target="_blank">Canvas Log In</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/online-services/student-email/" target="_blank">Student Email Help</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/academics/dates/" target="_blank">Important Dates and Deadlines</a>
        </li>
        <li>
          <a href="https://forms.office.com/pages/responsepage.aspx?id=PmZA-ieXeEmbznds-CS8pbvGQkwthp1PqFBMxa8azbRUMVg0NElZRUpQMkM4MVJPUkhET01BREQ3NyQlQCN0PWcu" target="_blank">Program Change Request</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/media/general-documents/student-affairs/office-of-registrar/Withdrawal_Refund-Exception-Request-OtR.pdf" target="_blank">Refund/Exception</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/academics/office-of-the-registrar/transcripts/transcript-evaluation.html" target="_blank">Transcript Evaluations</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/campus/campus-resources/student-housing/" target="_blank">Student Housing</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/students/academics/office-of-the-registrar/graduation/intent-to-graduate.html" target="_blank">Intent to Graduate</a>
        </li>
        <li>
          <a href="https://www.greenriver.edu/media/general-documents/student-affairs/enrollment-services/override-max-credit.pdf" target="_blank">Override form</a>
        </li>
      </ul>
    </div>
  </main>

  <!-- Footer -->
  <%- include('footer') %>
</body>
</html>